<div class="container-fluid py-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['basics']" routerLinkActive="active">Course Basics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['goals']" routerLinkActive="active">Course Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['crriculum']" routerLinkActive="active">Curriculum</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['price-coupons']" routerLinkActive="active">Price & Coupons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['captions']" routerLinkActive="active">Captions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['communication']" routerLinkActive="active">Automatic Messages</a>
    </li> -->
  </ul>

  <div class="card">
    <br>
    <router-outlet></router-outlet>
  </div>

  <div class="row text-center mt-3">
    <div class="col-md-12">
      <button class="btn btn-danger waves-light" (click)="submitForReview()">Submit for Review&nbsp;<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
    </div>
  </div>

</div>