<nav class="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item" [routerLink]="['']" style="color: #000">  
      <i class="fa fa-home"></i>
    </a>
    <a class="breadcrumb-item" active>Transaction History</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h2>Transaction History</h2>
  </div>
</div>

<div class="container my-2">
  <div class="" *ngIf="transactionRecord?.length == 0">
    <div class="">
      <div class="alert alert-secondary text-center" role="alert" style="padding : 15vh 1vh;margin-bottom:0rem;">
        No transaction has been made.
        Go to <a [routerLink]="['']">Courses</a>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let orders of transactionRecord">
    <div class="col-md-12">
      <p>Order date : {{orders.date}}</p>
      <table class="table table-hover table-bordered">
        <thead class="mdb-color darken-3">
          <tr class="white-text">
            <th>Course Title</th>
            <th>Course Price</th>
            <th>Discount</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody *ngIf="transactionRecord">
          <tr *ngFor="let order of orders.courses">
            <td>{{order.course_name}}</td>
            <td>
              <i class="fa fa-inr"></i> {{order.course_price}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Total Price :
              <i class="fa fa-inr"></i> {{orders.course_price}}</td>
            <td>Discount : -
              <i class="fa fa-inr"></i>{{orders.discount_price}}</td>
            <td>Final Price :
              <i class="fa fa-inr"></i> {{orders.total_price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="row">
      <div class="col-md-12">
        <h1>Refund History</h1>
        <hr>
        <table class="table table-hover table-bordered">
          <thead class="mdb-color darken-3">
            <tr class="white-text">
              <th>Course</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Refunded To</th>
              <th>Refund Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Course Name</td>
              <td>01 Jan 2018</td>
              <td><i class="fa fa-inr"></i>&nbsp;650</td>
              <td>Bank Name</td>
              <td>xxxxxxx</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

</div>