.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.row{
    margin: 0rem;
}
p{
    margin: 0rem;
}

ul{
    list-style: none;
    padding: 0rem;
}

li{
    float: left;
    margin-right: 1rem;
}

.view img{
    height: 200px;
}

.card{
    box-shadow: none;
}

.card-body{
    padding: 0rem;
}

.mt-2 {
    border: 1px solid #aaa;
}


@media only screen and (max-width: 575px) {
    .view[_ngcontent-c7] img[_ngcontent-c7] {
        height: auto;
    }
} 