        <div class="card">
            <img class="img-fluid" src="https://udemy-images.udemy.com/course/240x135/1178124_76bb_5.jpg" alt="Card image cap">
            <div class="card-body card-padding">
                <!--Title-->
                <b class="card-title">{{_data.title}}</b>
                <!--Text-->
                <p class="card-text authorname">{{_data.trainers}}<br>
                <i class="fa fa-star fa-lg yellow-text" aria-hidden="true"></i><i class="fa fa-star fa-lg yellow-text" aria-hidden="true"></i><i class="fa fa-star fa-lg yellow-text" aria-hidden="true"></i><i class="fa fa-star fa-lg yellow-text" aria-hidden="true"></i><i class="fa fa-star fa-lg yellow-text" aria-hidden="true"></i></p>
                <a href="#" class="btn btn-info btn-md" data-toggle="modal" data-target="#dotnet">View Details</a>
                <div id="dotnet" class="modal fade" role="dialog">
                    <div class="modal-dialog course-modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h6 class="modal-title"><b>Complete Unity Developer 2.0 - Learn C# Code & Make Games</b></h6>
                        </div>
                        <div class="modal-body">
                           <p> <span>
                                <i class="fa fa-play" aria-hidden="true"></i> 93 lectures
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 14 hours
                                <i class="fa fa-level-up" aria-hidden="true"></i> Beginner Level
                            </span></p>
                            <h6><b>Game development & design made fun. Learn C# using the NEW Unity 2017. Your first 2D & 3D games for web & mobile.</b></h6>
                            <ul>
                                <li> * Learn C#, a powerful modern language</li>
                                <li> * Get experience using Unity 2017 - a versatile 3D tool</li>
                                <li> * Gain an excellent general knowledge of video game design</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg pull-left sinupmodal-btnsign" data-dismiss="modal">Add to Cart</button>
                        </div>
                    </div>
                    </div>
                </div>
                <b><i class="fa fa-inr"></i>&nbsp;960</b>
            </div>
        </div>
