<h4 class="h4-responsive">Course Goals</h4>
<hr>
<br>

<section>
    <form (submit)="onCourseGoalsSubmit()" #formRef="ngForm">

      <label for="" class="">What knowledge & tools are required?</label>
      <div class="row" *ngFor="let kR of knowledgeRequired; let i = index">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-8">
          <div class="md-form">
            <input mdbActive type="text" id="knowledge_required{{i}}" class="form-control" name="knowledge_required{{i}}" [(ngModel)]="knowledgeRequired[i].value"
              #knowledge_required placeholder="Example: You should be able to use a PC at a beginner level" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-4 text-center">
          <button type="button" class="btn btn-flat btn-lg" (click)="removeKnowledgeRequired(i)" mdbRippleRadius *ngIf="i < knowledgeRequired.length-1">
            <i class="fa fa-times"></i>&nbsp;Remove</button>
          <button type="button" class="btn btn-flat btn-lg" (click)="addKnowledgeRequired()" mdbRippleRadius [disabled]="knowledge_required.value.length == 0"
            *ngIf="i == knowledgeRequired.length - 1">
            <i class="fa fa-plus"></i>&nbsp;Add more answer</button>
        </div>
      </div>

      <br>

      <label for="" class="">Who should take this course?</label>
      <div class="row" *ngFor="let tS of targetStudent; let i = index">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-8">
          <div class="md-form">
            <input mdbActive type="text" id="target_student{{i}}" class="form-control" name="target_student{{i}}" [(ngModel)]="targetStudent[i].value"
              #target_student placeholder="Example: Anyone who wants to learn to code" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-4 text-center">
          <button type="button" class="btn btn-flat btn-lg" (click)="removeTargetStudent(i)" mdbRippleRadius *ngIf="i < targetStudent.length-1">
            <i class="fa fa-times"></i>&nbsp;Remove</button>
          <button type="button" class="btn btn-flat btn-lg" (click)="addTargetStudent()" mdbRippleRadius [disabled]="target_student.value.length == 0"
            *ngIf="i == targetStudent.length - 1">
            <i class="fa fa-plus"></i>&nbsp;Add more answer</button>
        </div>
      </div>

      <br>

      <label for="" class="">What will students achieve or be able to do after taking your course?</label>
      <div class="row" *ngFor="let lG of learnGoal; let i = index">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-8">
          <div class="md-form">
            <input mdbActive type="text" id="learn_goal{{i}}" class="form-control" name="learn_goal{{i}}" [(ngModel)]="learnGoal[i].value"
              #learn_goal placeholder="Example: Build websites and webapps" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-4 text-center">
          <button type="button" class="btn btn-flat btn-lg" (click)="removeLearnGoal(i)" mdbRippleRadius *ngIf="i < learnGoal.length-1">
            <i class="fa fa-times"></i>&nbsp;Remove</button>
          <button type="button" class="btn btn-flat btn-lg" (click)="addLearnGoal()" mdbRippleRadius [disabled]="learn_goal.value.length == 0"
            *ngIf="i == learnGoal.length - 1">
            <i class="fa fa-plus"></i>&nbsp;Add more answer</button>
        </div>
      </div>

      <br>

      <button type="submit" class="btn btn-danger waves-light">Save</button>

    </form>
  </section>