<section>
  <div class="container py-4">
    <div class="row justify-content-md-center">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="card">
          <h4 class="card-header h4-responsive">Forgot Password</h4>
          <div class="card-body">
            <form (submit)="onSubmitForgotPassword()" #form="ngForm">
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" name="instructorEmailId" class="form-control" [(ngModel)]="resetEmailId.instructorEmailId" #instructorEmailId="ngModel"
                  required mdbActive>
                <label for="instructorEmailId">E-mail </label>
                <span class="error-msg" *ngIf="instructorEmailId.touched && !instructorEmailId.valid">Enter Email Id</span>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-danger waves-light" data-dismiss="modal" mdbRippleRadius [disabled]="form.invalid">Reset Password</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>