
// Overwrite mdb style
.dropdown-toggle::after {
    display: none;
}

.btn {
    text-transform: none;
    font-size: 0.9rem !important;
}

.btn-outline-default{
    color: #aaa !important;
    box-shadow: none;
    border: none;
    margin-top: 12px;
}

.btn:hover {
    background-color: #eee;
}

.dropdown-menu .fa{
    color: #aaa;
}

#login_link, #signup_link{
    color: #ec5252;
}

#forgot_password{
    color: #007791;
}

.btn .fa{
    font-size: 1.5rem;
    color: #aaa;
}
    
.counter {
    position: relative !important;
    margin-top: 0.5rem;
    margin-left: -1.5rem;
    top: -1rem !important;
}

.fa-bars{
    color: #aaa;
}

.modal{
    overflow: auto;
}

.btn-outline-info{
    margin-top: 10px;
    color: #686f7a !important;
    background-color: #fff;
    border: 1px solid #505763;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 1.43;
    border-radius: 2px;
    box-shadow: none;
}

.btn-danger{
    margin-top: 10px;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 1.43;
    border-radius: 2px;
    box-shadow: none;
}

.rounded-circle{
    width: 45px;
    height: 45px;
}

.user-text-avatar{
    width: 45px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.user-text-avatar{
    background-color: #fff;
    font-size: 1rem;
    color: #686f7a;
    border: 1px solid;
    border-radius: 50%;
}

.aactive{
    display: none;
}