<!DOCTYPE html>
  {% load static %}
<html lang="en-us" >
<head>
<title>Log in | ZenRays admin</title>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
<style type="text/css">
h4 {
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
    background: #f8f8f8;
    border: 2px solid red;
    color: red;
}
.login #container.error-box {
    margin: 100px auto -100px;
    background: transparent;
    border: 0;
}
</style>
</head>

<body class="login" data-admin-utc-offset="0">

{% if message %}
<div id="container" class="error-box">
    <h4>{{message}}</h4>
</div>
{% endif %}
<!-- Container -->
  <!-- Header -->
<div id="container">
  <div id="header">
    <div id="branding">
      <h1 id="site-name"><a href="/api/login/">ZenPlatform Login</a></h1>
    </div>
  </div>
<!-- END Header -->
<!-- Content -->
<div id="content" class="colM">
  <div id="content-main">
    <form action="/api/authlogin" method="post" id="login-form">
      <div class="form-row">
    {% csrf_token %}

    <label class="required" for="id_username">Username:</label> <input type="text" name="username" maxlength="254" autofocus id="id_username" required />
  </div>
  <div class="form-row">
    
    <label class="required" for="id_password">Password:</label> <input type="password" name="password" required id="id_password" />
    <input type="hidden" name="next" value="/" />
    <input type="hidden" name="redirect" value="{{redirect}}" />
  </div>

  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>


</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
