{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<form method="post" action="/api/courses/curriculumlec/edit/update/{{cl.id}}">
{% csrf_token %}
<div class="col-md-3">
   <div class="md-form">

    <i class="fa fa-book prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="curriculum_section_id" class="form-control" name="curriculum_section_id" required="required" placeholder="curriculum_section_id" value="{{cl.curriculum_section_id.title}}">
    <input type="text" id="title" class="form-control" name="title" required="required" placeholder="title" value="{{cl.title}}">
    <input type="text" id="description" class="form-control" name="description" required="required" placeholder="description" value="{{cl.title}}">
    <input type="text" id="preview_url" class="form-control" name="preview_url" required="required" placeholder="preview_url" value="{{cl.preview_url}}">
    <input type="text" id="video_url" class="form-control" name="video_url" required="required" placeholder="video_url" value="{{cl.video_url}}">
    <input type="text" id="order_num" class="form-control" name="order_num" required="required" placeholder="order_num" value="{{cl.order_num}}">
    <input type="text" id="lecture_type" class="form-control" name="lecture_type" required="required" placeholder="lecture_type" value="{{cl.lecture_type}}">
</div>

</div>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>
{% endblock %}