<div class="card approved">
  <div class="card-body">
    <p class="card-title">Approved</p>
    <hr>
    <table class="table table table-hover mb-0 table-bordered">
      <thead class="blue-grey text-white">
        <tr>
          <th>
            S No.
          </th>
          <th class="th-lg">
            Course Name
          </th>
          <th class="th-lg">
            Author Name
          </th>
          <th class="th-lg">
            Course Category
          </th>
          <th class="th-lg">
            Approved Date
          </th>
          <th class="th-lg">
            Status
          </th>
          <th>
            Actions
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let approveObj of approved; let i = index">
          <th scope="row">{{ i + 1}}</th>
          <td>{{approveObj.course_title}}</td>
          <td>{{approveObj.instructor}}</td>
          <td>{{approveObj.subcategory.label}}</td>
          <td>{{approveObj.created_at}}</td>
          <td>{{approveObj.status}}</td>
          <td>
            <a class="blue-text" mdbTooltip="View Course" placement="top" [routerLink]="['/instructor', 'course', 'draft-content', approveObj.course_id, 'overview']">
              <i class="fa fa-newspaper-o"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <a class="link-text">
      <h5 class="waves-light text-right" mdbWavesEffect>View more
        <i class="fa fa-chevron-right waves-light" mdbWavesEffect></i>
      </h5>
    </a> -->
  </div>
</div>