<section>
  <div class="container py-4">
    <h1 class="h1-responsive text-center">Create a New Course</h1>
    <div class="row my-4 justify-content-md-center">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <h4 class="card-header h4-responsive">Let's Get Started</h4>
          <div class="card-body">
            <form (submit)="onCreateCourseTitle()" #form="ngForm">
              <label for="course_title">Your Course Title</label>
              <input type="text" id="course_title" name="course_title" [(ngModel)]="courseCreate.course_title" #course_title class="form-control"
                placeholder="e.g. Learn Photoshop CS6 From Scratch" required mdbActive>
              <button type="submit" class="btn btn-danger waves-light float-right" [disabled]="form.invalid" mdbRippleRadius>Next</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>