<div id="mySidenav" class="sidenav">
  <div class=" m-2 p-2">
    <mdb-squeezebox [multiple]="false" aria-multiselectable="true" *ngFor="let item of itemsList; let i = index">
      <mdb-item>
        <mdb-item-head>
          <span class="head-section">Section : {{i+1}} </span>
          <span class="float-right" style="font-size: 16px;">{{item.curriculumLect.length}}</span>
          <br>{{item.title }} </mdb-item-head>
        <mdb-item-body>
          <ul *ngIf="currentUrl == 'draft-content'">
            <li *ngFor="let a of item.curriculumLect.reverse();" (click)="getUrl(a)">
              <a>
                <i class="fa fa-play-circle-o"></i>
                <span style="padding-left: 0.5rem;">{{a.title}}</span>
              </a>
            </li>
            <li *ngFor="let b of item.curriculumQuiz.reverse();" (click)="getUrl(b)">
              <a>
                <i class="fa fa-play-circle-o"></i>
                <span style="padding-left: 0.5rem;">{{b.title}}</span>
              </a>
            </li>
          </ul>
          <ul *ngIf="currentUrl != 'draft-content'">
            <li *ngFor="let a of item.curriculumLect" (click)="getUrl(a)">
              <a>
                <i class="fa fa-play-circle-o"></i>
                <span style="padding-left: 0.5rem;">{{a.title}}</span>
              </a>
            </li>
          </ul>
        </mdb-item-body>
      </mdb-item>
    </mdb-squeezebox>
  </div>
</div>