{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="col-md-12 guroomed-courses">
    <h2 class="center"><strong><b>Taxes Listing</b></strong></h2>
    <a href="/api/paypal/taxes/create"><span class="btn btn-warning pull-right waves-effect waves-light"> <i class="fa fa-plus" aria-hidden="true"></i>  ADD NEW</span></a>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>                    
            <th>name</th> 
            <th>description</th> 
            <th>value</th> 
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for tax in taxes %}

        <tr>
            <td>{{tax.id}}</td>                  
            <td>{{tax.name}}</td> 
            <td>{{tax.description}}</td> 
            <td>{{tax.value}}</td> 
            <td>
                 <a href="/api/paypal/taxes/delete/{{tax.id}}" class="btn btn-danger btn-sm waves-effect waves-light"><i class="fa fa-trash" aria-hidden="true"></i> DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}