<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="h2-responsive">Instructor Dashboard</h2>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-sm btn-create-course waves-light" [routerLink]="['/instructor','course','create']">Create Course</button>
      </div>
    </div>
  </div>
</div>

<div class="instructor-dashoard-bg-color">
  <br>
  <section *ngIf="draftDatalength > 0">
    <div class="container">
      <div class="table-wrapper">

        <table class="table table-hover mb-0 table-bordered">

          <thead class="blue-grey text-white">
            <tr>
              <th>
                S No.
              </th>
              <th class="th-lg">
                Course Name
              </th>
              <th class="th-lg">
                Instructor Name
              </th>
              <th class="th-lg">
                Course Category
              </th>
              <th class="th-lg">
                Created Date
              </th>
              <th class="th-lg">
                Status
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let draft of draftData; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{draft.course_title}}</td>
              <td>{{draft.instructor}}</td>
              <td>{{draft.subcategory == null ? '' : draft.subcategory.label}}</td>
              <td>{{draft.created_at}}</td>
              <td>{{draft.status}}</td>
              <td>
                <a class="" mdbTooltip="View" placement="top" [routerLink]="['/instructor', 'course', 'draft-content', draft.course_id, 'overview']">
                  <i class="fa fa-newspaper-o"></i>
                </a>
                <a class="" mdbTooltip="Edit" placement="top" [routerLink]="['/instructor', 'course', 'manage', draft.course_id, 'basics']">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </section>

  <br>

  <!-- <section>
    <h4 class="h4-responsive text-center">Based on your experience, we think these resources will be helpful.</h4>
    <div class="container pt-5">
      <div class="card p-5">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <img src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_course_illustration.png" alt="Course Curriculum"
              class="img-fluid">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <h2 class="h2-responsive">Create an Engaging Course</h2>
            <br>
            <p>
              Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've compiled
              resources and best practices to help you get to the next level, no matter where you're starting.
            </p>
            <br>
            <a>Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2">
          <div class="card p-3">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_video_illustration.png" alt="Course Curriculum"
                  class="img-fluid">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h4 class="h4-responsive">
                  Get Started with Video</h4>
                <br>
                <p>
                  Quality video lectures can set your course apart. Use our resources to learn the basics.
                </p>
                <br>
                <a>Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2">
          <div class="card p-3">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="https://www.udemy.com/staticx/udemy/images/instructor-dashboard/dash_publish_illustration.png" alt="Course Curriculum"
                  class="img-fluid">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h4 class="h4-responsive">Build Your Audience</h4>
                <br>
                <p>
                  Set your course up for success by building your audience.
                </p>
                <br>
                <a>Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>