{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="row guroomed-courses">
<div class="col-md-12">
<div class="col-md-6">
<h4 class="center"><strong><b>Edit Languages</b></strong></h4>
</div>
</div>
<div class="col-md-12">
<div class="col-md-2">
</div>
<form method="post" action="/api/courses/lang/edit/update/{{language.id}}">
{% csrf_token %}
<div class="col-md-4">
   <div class="md-form">
    <i class="fa fa-language prefix purple-text" aria-hidden="true"></i>
    <input type="text" id="name" class="form-control" required="required" name="name" value="{{language.name}}">
    <label for="name">Name</label>
</div> 
</div>
<button type="submit" class="btn btn-success">Edit</button>
</form>
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>
</div>
</div>
</div>
{% endblock %}