<form method="post" action="/courses/studentreview/edit/update/{{sr.id}}">
{% csrf_token %}
<div class="col-md-3">
   <div class="md-form">

    <i class="fa fa-book prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="course_id" class="form-control" name="course_id" required="required" placeholder="course_id" value="{{sr.course_id.id}}">
    <input type="text" id="user_id" class="form-control" name="user_id" required="required" placeholder="user_id" value="{{sr.user_id.id}}">
    <input type="text" id="no_of_stars" class="form-control" name="no_of_stars" required="required" placeholder="no_of_stars" value="{{sr.no_of_stars}}">
    <input type="text" id="about_the_course" class="form-control" name="about_the_course" required="required" placeholder="about_the_course" value="{{sr.about_the_course}}">
    <input type="text" id="about_the_instructor" class="form-control" name="about_the_instructor" required="required" placeholder="about_the_instructor" value="{{sr.about_the_instructor}}">
    <input type="text" id="how_course_can_improved" class="form-control" name="how_course_can_improved" required="required" placeholder="how_course_can_improved" value="{{sr.how_course_can_improved}}">
    <input type="text" id="review" class="form-control" name="review" required="required" placeholder="review" value="{{sr.review}}">
</div>

</div>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>