{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="row guroomed-courses">
<div class="col-md-12">
<div class="col-md-6">
<h4 class="center"><strong><b>Edit User</b></strong></h4>
</div>
</div>
<div class="col-md-12">
<div class="col-md-2">
</div>
<form method="post" action="/api/users/edit/update/{{user.id}}" enctype="multipart/form-data">
{% csrf_token %}
<div class="col-md-4">
   <div class="md-form">
    <i class="fa fa-user prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="username" class="form-control" name="username" value={{user.username}}>
    <label for="username">Username</label>
</div> 
   <div class="md-form">
    <i class="fa fa-envelope prefix red-text" aria-hidden="true"></i>
    <input type="text" id="email" class="form-control" name="email" value={{user.email}}>
    <label for="email ">Email</label>
</div> 

   <div class="md-form">
    <i class="fa fa-user prefix green-text" aria-hidden="true"></i>
    <input type="text" id="first_name" class="form-control" name="first_name" value={{user.first_name}}>
    <label for="first_name">First Name</label>
</div> 
   <div class="md-form">
    <i class="fa fa-user prefix green-text" aria-hidden="true"></i>
    <input type="text" id="last_name" class="form-control" name="last_name" value={{user.last_name}}>
    <label for="last_name">Last Name</label>
</div>
<div class="md-form">
    <i class="fa fa-header prefix grey-text" aria-hidden="true"></i>
    <input type="text" id="headline" class="form-control" name="headline" value="{{userinfo.headline}}">
    <label for="headline">Headline</label>
</div> 
<div class="md-form">
    <i class="fa fa-btc prefix black-text" aria-hidden="true"></i>
    <input type="text" id="biography" class="form-control" name="biography" value="{{userinfo.biography}}">
    <label for="biography">Biography</label>
</div> 
<div class="md-form">
        <i class="fa fa-language prefix orange-text" aria-hidden="true"></i>
        &nbsp;
        <select class="mdb-select" name="language">
            <option value="" disabled selected>Languages</option>
            {% for language in languages %}
                {% if userinfo.language.id == language.id %}
                    <option selected value="{{language.id}}">{{language.name}}</option>
                {% else %}
                    <option value="{{language.id}}">{{language.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
</div> 
<div class="md-form">
    <i class="fa fa-link prefix black-text" aria-hidden="true"></i>
    <input type="text" id="website_link" class="form-control" name="website_link" value={{userinfo.website_link}}>
    <label for="website_link">Website_link</label>
</div> 
<div class="md-form">
    <i class="fa fa-google-plus prefix red-text" aria-hidden="true"></i>
    <input type="text" id="gplus_link" class="form-control" name="gplus_link" value={{userinfo.gplus_link}}>
    <label for="gplus_link">Google+ link</label>
</div> 
<div class="md-form">
    <i class="fa fa-twitter prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="twitter_link" class="form-control" name="twitter_link" value={{userinfo.twitter_link}}>
    <label for="twitter_link">Twitter_link</label>
</div> 
<div class="md-form">
    <i class="fa fa-facebook prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="facebook_link" class="form-control" name="facebook_link" value={{userinfo.facebook_link}}>
    <label for="facebook_link">Facebook_link</label>
</div> 
<div class="md-form">
    <i class="fa fa-linkedin prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="linkedin_link" class="form-control" name="linkedin_link" value={{userinfo.linkedin_link}}>
    <label for="linkedin_link">Linkedin_link</label>
</div> 
<div class="md-form">
    <i class="fa fa-youtube prefix red-text" aria-hidden="true"></i>
    <input type="text" id="youtube_link" class="form-control" name="youtube_link" value={{userinfo.youtube_link}}>
    <label for="youtube_link">Youtube_link</label>
</div> 
<div class="md-form">
    <i class="fa fa-file-image-o prefix black-text" aria-hidden="true"></i><br><br>
    <img src="/{{userinfo.photo_link}}" style="width:50px;height:50px;">
    <input type="file" id="photo_link" class="file-path" name="photo_link" value={{userinfo.photo_link}}>
    <label for="photo_link">Photo_link</label>
</div> 
<div class="md-form">
<i class="fa fa-object-group prefix orange-text" aria-hidden="true"></i>
&nbsp;
<select class="mdb-select" multiple>
<option value="" disabled selected>Select Group</option>
    {% for group in groups %}
        {% if group in selectedgroups %}
            <option id="groups" name="groups[]" value={{group.id}}>{{group.name}}</option>
        {% else %}
            <option id="groups" name="groups[]" value={{group.id}}>{{group.name}}</option>
        {% endif %}
    {% endfor %}
    </select>
</div>
<button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
<a href="/api/changepd" class="btn btn-danger"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a>
</div>
</form>
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>
</div>
</div>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.mdb-select').material_select();
        });
    </script>
{% endblock %}