<div class="card reviewed">
  <div class="card-body">
    <p class="card-title">Reviewed</p>
    <hr>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Course Name</th>
          <th>Category</th>
          <th>Reviewer Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <a class="link-text">
      <h5 class="waves-light text-right" mdbWavesEffect>View more
        <i class="fa fa-chevron-right waves-light" mdbWavesEffect></i>
      </h5>
    </a>
  </div>
</div>