.btn-lg{
    width: 100%;
    padding: 2rem;
    text-transform: none;
}

#top-rated{
    background-color: #3F729B;
}

#trending{
    background-color: #ab47bc;
}

#news-noteworthy{
    background-color: #26a69a;
}

h5{
    color: #505763;
}