<h5 class="mt-2">Discover Our Popular Courses</h5>
<div class="row text-md-center">
  <div class="col-md-4">
    <button class="btn btn-lg" id="top-rated" mdbRippleRadius>
      <strong>Top Rated</strong>
    </button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-lg" id="trending" mdbRippleRadius>
      <strong>Trending</strong>
    </button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-lg" id="news-noteworthy" mdbRippleRadius>
      <strong>News & Noteworthy</strong>
    </button>
  </div>
</div>