{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="row guroomed-courses">
<div class="col-md-12">
<div class="col-md-6">
<h4 class="center"><strong><b>Edit Subcategory</b></strong></h4>
</div>
</div>

<div class="col-md-12">
<div class="col-md-2">
</div>
<form method="post" action="/api/courses/subcat/edit/update/{{subcategory.id}}">
    {% csrf_token %}

<div class="col-md-4">
   <div class="md-form">
        <i class="fa fa-book prefix red-text" aria-hidden="true"></i>
        &nbsp;
        <select class="mdb-select" name="course_category_id">
            {% for cat in categories %}
                {% if cat.id == subcategory.course_category_id.id %}
                <option selected value="{{cat.id}}">{{cat.name}}</option>
                {% else %}
                <option value="{{cat.id}}">{{cat.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div> 
    <div class="md-form">
        <i class="fa fa-file-video-o prefix green-text" aria-hidden="true"></i>
        <input value="{{subcategory.name}}" type="text" id="name" class="form-control" required="required" name="name">
        <label for="name">Name</label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
    </div>
</div>
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>
</div>
</div>
</div>
    <script type="text/javascript">
$(document).ready(function() {
    $('.mdb-select').material_select();
  });
</script>
{% endblock %}