<div class="text-center">
  <h2>Danger Zone</h2>
  <p>Delete your account permanently.</p>
</div>
<hr>
<div class="container" style="padding: 0rem 5rem;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p>Delete Your Account</p>
      <br />
      <p>
        <span class="red-text">Warning:</span>&nbsp;If you delete your account, you will be unsubscribed from all your 30 courses, and will lose
        access forever.</p>
      <button type="button" class="btn btn-outline-danger" mdbRippleRadius (click)="deleteAccount()">Delete</button>
    </div>
  </div>
</div>