{% extends "guroomed/base.html" %}

{% block title %}Category Listing{% endblock %}

{% load static %}


{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6 guroomed-courses">
    <h2 class="center"><strong><b>Category Listing</b></strong></h2>
    <a href="/api/courses/cat/create"><span class="btn btn-warning pull-right waves-effect waves-light"><i class="fa fa-plus" aria-hidden="true"></i> ADD NEW</span></a>
<table class="table table-striped">
    <thead class="thead-inverse">

        <tr>
            <th>ID</th>                      
            <th>Name</th> 
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <td>{{cat.id}}</td>                      
            <td>{{cat.name}}</td> 
            <td>
                 <a href="/api/courses/cat/edit/{{cat.id}}" class="btn btn-success btn-sm waves-effect waves-light"><i class="fa fa-pencil" aria-hidden="true"></i> EDIT</a>
                 <a href="/api/courses/cat/delete/{{cat.id}}" class="btn btn-danger btn-sm waves-effect waves-light"><i class="fa fa-trash" aria-hidden="true"></i> DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}