/* YOUR CUSTOM STYLES */

.viewgroup{
    display: block;
    width: 46%;
    margin: 1%;
    float: left;
    background: #f44336;
    padding: 4% 1%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.zen-vimeo-videos {
	width: 48%;
	margin-top: 5%;
	margin-left: 2%;
	float: left;
}
        .center{
            text-align: center;
            padding-top:15px;
            color: #3F729B;
        }
        .guroomed-courses{
           padding-top:70px; 
        }
        .panel-default{
            border-color:#ddd;
        }
        .panel-default>.panel-heading{
            color:#3F729B;
            background-color:#eeeeee;
            border-color:#ddd
        }
        .panel-body{
            border-top-color:#ddd;
        }
        th {
            padding: 10px;
        }
