footer{
    background-color: #fff !important;
    color: #a1a7b3;
    font-size: 13px;
    line-height: 18px;
    border-top: 1px solid #ddd;
    margin: 0rem;
}

a{
    color: #007791 !important;
}

li{
    height: 2rem;
}

footer.page-footer .footer-copyright{
    border-top: 1px solid #ddd;
    color: #686f7a;
    background-color: #fff;
}

@media screen and (max-width: 576px) {
    .hide-on-xs{
        display: none;
    }
    .hide-on-md a{
        padding: 0.5rem;
    }
}

@media screen and (min-width: 577px) {
    .hide-on-md{
        display: none;
    }
}