<!--Footer-->
<footer class="page-footer" *ngIf="nav.visible">

    <!--Footer Links-->
    <div class="container-fluid py-2">
        <div class="row text-center hide-on-xs">

            <!--First column-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <ul>
                    <li>
                        <a>Guroomed for Business</a>
                    </li>
                    <li>
                        <a>Become an Instructor</a>
                    </li>
                    <li>
                        <a>Mobile Apps</a>
                    </li>
                </ul>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <ul>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Careers</a>
                    </li>
                    <li>
                        <a>Blog</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <ul>
                    <li>
                        <a>Affiliate</a>
                    </li>
                    <li>
                        <a>Support</a>
                    </li>
                    <li>
                        <a>Topics</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
        </div>

        <div class="hide-on-md text-center">
            <a>Guroomed For Business</a>
            <a>Become an Business</a>
            <a>Mobile Apps</a>
            <br>
            <a>About</a>
            <a>Careers</a>
            <a>Blog</a>
            <br>
            <a>Affiliate</a>
            <a>Support</a>
            <a>Topics</a>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h5 class="title">Follow Us On</h5>
                <a type="button" class="btn-floating btn-small btn-fb" mdbRippleRadius>
                    <i class="fa fa-facebook"></i>
                </a>
                <a type="button" class="btn-floating btn-small btn-tw" mdbRippleRadius>
                    <i class="fa fa-twitter"></i>
                </a>
                <a type="button" class="btn-floating btn-small btn-gplus" mdbRippleRadius>
                    <i class="fa fa-google-plus"></i>
                </a>
                <a type="button" class="btn-floating btn-small btn-ins" mdbRippleRadius>
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: Powered by
            <a [routerLink]="['/']"> Guroomed </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->