.btn-login{
    background-color: #ec5252;
}

.btn-fb{
    padding: 0.5rem;   
}

.btn-gplus{
    padding: 0.5rem 0.8rem;
}

.btn-login{
    padding: 0.5rem 2rem;
}

#TandC{
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-size: 75%;
}

.error_message{
    color: #ec5252;
}
