<mdb-navbar SideClass="navbar navbar-light lighten-4">
  <logo>
    <span class="navbar-brand" routerLink="">Guroomed</span>
  </logo>
</mdb-navbar>

<div class="container my-4">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card card-cascade">
      <div class="card-body text-center">
        <h4 class="card-title">
          <strong>Reset Password</strong>
        </h4>
        <hr>
        {{this.message}}
        <form class="pt-2">
          <div class="md-form">
            <input mdbActive type="password" name="newpassword" [(ngModel)]="newpassword" id="newpassword" class="form-control" autocomplete >
            <label for="newpassword" class="">New Password</label>
          </div>
          <div class="md-form">
            <input mdbActive type="password" name="confirmpassword" [(ngModel)]="confirmpassword" id="confirmpassword" class="form-control" autocomplete >
            <label for="confirmpassword1" class="">Confirm Password</label>
          </div>
          <button type="button" class="btn btn-danger" mdbRippleRadius (click)="resetPassword()">Submit</button>
        </form>

      </div>
    </div>
  </div>

</div>