.star-rating--static {
    color: #dedfe0;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-left: -2px;
}

.star-rating--static.star-rating--smaller:before, .star-rating--static.star-rating--smaller span:before {
    font-size: 15px;
}

.star-rating--static span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
}

.star-rating--static.star-rating--primary span:before {
    color: #f4c150;
}

.star-rating--static span:before {
    color: #f4c150;
}

.star-rating--static:before, .star-rating--static span:before {
    font-family: fontawesome;
    content: "\F005\F005\F005\F005\F005";
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1;
}