{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<h4 class="guroomed-courses center"><strong><b>Edit</b></strong></h4>
    <form method="POST" action="/api/courses/search/update/{{id}}">
        {% csrf_token %}
            <div class="col-md-7">
        <div class="md-form">
            <i class="fa fa-book prefix red-text" aria-hidden="true"></i>
            <input type="text" id="category" class="form-control" name="category" required="required">
            <label for="category">Category</label>
        </div>
        <div class="md-form">
            <i class="fa fa-book prefix blue-text" aria-hidden="true"></i>
            <input type="text" id="subcategory" class="form-control" name="subcategory" required="required">
            <label for="subcategory">Subcategory</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix purple-text" aria-hidden="true"></i>
            <input type="text" id="id" class="form-control" name="id" required="required">
            <label for="id">ID</label>
        </div> 
        <div class="md-form">
            <i class="fa fa-tags prefix green-text" aria-hidden="true"></i>
            <input type="text" id="tag" class="form-control" name="tag" required="required">
            <label for="tag">Tag</label>
        </div> 
        <div class="md-form">
            <i class="fa fa-leanpub prefix orange-text" aria-hidden="true"></i>
            <input type="text" id="coursename" class="form-control" name="coursename" required="required">
            <label for="coursename">Course Name</label>
        </div>
        <div class="md-form">
            <i class="fa fa-clock-o prefix red-text" aria-hidden="true"></i>
            <input type="text" id="hours" class="form-control" name="hours" required="required">
            <label for="hours">Hours</label>
        </div>
        <div class="md-form">
            <i class="fa fa-picture-o prefix violet-text" aria-hidden="true"></i>
            <input type="text" id="image" class="form-control" name="image" required="required">
            <label for="image">Image</label>
        </div>
        <div class="md-form">
            <i class="fa fa-male prefix yellow-text" aria-hidden="true"></i>
            <input type="text" id="instructor" class="form-control" name="instructor" required="required">
            <label for="instructor">Instructor</label>
        </div>
        <div class="md-form">
            <i class="fa fa-sort-amount-desc prefix blue-text" aria-hidden="true"></i>
            <input type="text" id="offer" class="form-control" name="offer" required="required">
            <label for="offer">Offer</label>
        </div>
        <div class="md-form">
            <i class="fa fa-inr prefix red-text" aria-hidden="true"></i>
            <input type="text" id="price" class="form-control" name="price" required="required">
            <label for="price">Price</label>
        </div>
        <div class="md-form">
            <i class="fa fa-star prefix purple-text" aria-hidden="true"></i>
            <input type="text" id="rating" class="form-control" name="rating">
            <label for="rating">Rating</label>
        </div>
        <div class="md-form">
            <i class="fa fa-users prefix orange-text" aria-hidden="true"></i>
            <input type="text" id="students" class="form-control" name="students">
            <label for="students">Students</label>
        </div>
        <div class="md-form">
            <i class="fa fa-font prefix red-text" aria-hidden="true"></i>
            <input type="text" id="short_description" class="form-control" name="short_description">
            <label for="short_description">Short Description</label>
        </div>
        <div class="md-form">
            <i class="fa fa-level-up prefix green-text" aria-hidden="true"></i>
            <input type="text" id="difficulty_level" class="form-control" name="difficulty_level">
            <label for="difficulty_level">Difficulty Level</label>
        </div>
        <div class="md-form">
            <i class="fa fa-language prefix orange-text" aria-hidden="true"></i>
            <input type="text" id="lang" class="form-control" name="languages">
            <label for="lang">Languages</label>
        </div>
        <div class="md-form">
            <i class="fa fa-link prefix black-text" aria-hidden="true"></i>
            <input type="text" id="features" class="form-control" name="features">
            <label for="features">Features</label>
        </div>
        <div class="md-form">
            <i class="fa fa-tag prefix blue-text" aria-hidden="true"></i>
            <input type="text" id="course_link" class="form-control" name="course_link">
            <label for="course_link">Course Link</label>
        </div>
        <div class="md-form">
            <i class="fa fa-university prefix black-text" aria-hidden="true"></i>
            <input type="text" id="lectures" class="form-control" name="lectures">
            <label for="lectures">Lectures</label>
        </div>
        <div class="md-form">
            <i class="fa fa-header prefix red-text" aria-hidden="true"></i>
            <input type="text" id="subtitle" class="form-control" name="subtitle">
            <label for="subtitle">Subtitle</label>
        </div>
        <div class="md-form">
            <i class="fa fa-star prefix orange-text" aria-hidden="true"></i>
            <input type="text" id="no_of_reviews" class="form-control" name="no_of_reviews">
            <label for="no_of_reviews">No of Reviews</label>
        </div>
        <div class="md-form">
            <i class="fa fa-text-width prefix grey-text" aria-hidden="true"></i>
            <input type="text" id="topics" class="form-control" name="topics">
            <label for="topics">Topics</label>
        </div>
        <div class="md-form">
            <i class="fa fa-tag prefix yellow-text" aria-hidden="true"></i>
            <input type="text" id="label" class="form-control" name="label">
            <label for="label">Label</label>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> EDIT</button>
    </div>
    </div>
</form>
{% endblock %}