{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<h2 class="guroomed-courses center"><strong><b>Category Listing</b></strong></h2>
<form class="form-inline"  action="/api/courses/search" method="POST">
    {% csrf_token %}
    <div class="col-md-12">
    <div class="col-md-5">
    <div class="md-form">
        <i class="fa fa-book prefix red-text" aria-hidden="true"></i>
        <input type="text" id="category" class="form-control" name="category">
        <label for="category">Category</label>
    </div>
    </div>
    <div class="col-md-5">
    <div class="md-form">
        <i class="fa fa-book prefix blue-text" aria-hidden="true"></i>
        <input type="text" id="subcategory" class="form-control" name="subcategory">
        <label for="subcategory">Subcategory</label>
    </div>
    </div>
    <div class="col-md-2">
    <div class="text-center">
        <button class="btn btn-success">Search</button>
    </div>
    </div>
    </div>
<br />
<br />
</form>

<br />
    <a href="/api/courses/search/create"><span class="btn btn-sm btn-warning pull-right waves-effect waves-light">ADD NEW</span></a>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for hit in phit %}
        <tr>
            <td>{{ hit }}</td>
            <td>
                <a href="/api/courses/search/edit/{{ hit.0 }}" class="btn btn-success btn-sm waves-effect waves-light">EDIT</a>
                 <a href="/api/courses/search/delete/{{ hit.0 }}" class="btn btn-danger btn-sm waves-effect waves-light">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}