{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="col-md-6">
	<form action="/api/courses/search/filters" method="POST">
		<div class="md-form">
            <i class="fa fa-search prefix blue-text" aria-hidden="true"></i>
            <input type="text" name="query" class="form-control" id="search"> 
            <label for="search">Search</label>     
        </div>
        
	    {% csrf_token %}
		<button type="submit" class="btn btn-warning">Submit</button>
	</form>
</div>
</div>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for hit in phit %}
        <tr>
            <td>{{ hit }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="/api/edit/{{ hit.0 }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="/api/delete/{{ hit.0 }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}