<section>
  <div class="py-4">

    <!-- Tabset tabs -->
    <mdb-tabset [vertical]="true" [buttonClass]="'tabs-white flex-column'" [contentClass]="'vertical'">
      <!--Panel 1-->
      <mdb-tab heading="<a class='list-group-item'> Terms of Use </a>">
        <div class="row">
          <div class="col-12 waves-light" mdbWavesEffect>
            <p class="h5"> Terms of Use </p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam similique, eveniet inventore magni laborum, a
              sed quaerat quam dicta possimus, quos sint veniam. Minus vero quo voluptates, error, quisquam impedit.</p>
          </div>
        </div>
      </mdb-tab>
      <!--Panel 2-->
      <mdb-tab heading="<a class='list-group-item'> Privacy Policy and Cookie Policy </a>">
        <div class="row">
          <div class="col-12 waves-light" mdbWavesEffect>
            <p class="h5"> Privacy Policy and Cookie Policy </p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam similique, eveniet inventore magni laborum, a
              sed quaerat quam dicta possimus, quos sint veniam. Minus vero quo voluptates, error, quisquam impedit.</p>
          </div>
        </div>
      </mdb-tab>
      <!--Panel 3-->
      <mdb-tab heading="<a class='list-group-item'> Intellectual Property Policy </a>">
        <div class="row">
          <div class="col-12 waves-light" mdbWavesEffect>
            <p class="h5"> Intellectual Property Policy </p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam similique, eveniet inventore magni laborum, a
              sed quaerat quam dicta possimus, quos sint veniam. Minus vero quo voluptates, error, quisquam impedit.</p>
          </div>
        </div>
      </mdb-tab>

    </mdb-tabset>

  </div>
</section>