<div class="card hoverable mt-2 mb-2">
  <img class="img-fluid" [src]="preview_url" alt="Course Image">
  <div class="card-body ">
    <!--Title-->
    <h6 style="height: 40px;">
      <strong class="card-title">{{_data.title.length > 40 ? (_data.title | slice:0:40)+ '.....': _data.title}}</strong>
    </h6>
    <!--Text-->
    <p class="card-text authorname" style="height: 25px;">{{_data.trainers.toString()?.length > 25 ? (_data.trainers.toString() | slice:0:25)+ '.....' : _data.trainers}}</p>
    <p class="card-text">
      <app-star-rating [rating]="_data.stars" [title]="_data.stars"></app-star-rating>&nbsp;{{_data.stars}}
    </p>

    <p class="card-text text-right mt-1" *ngIf="_data.discounted_price">
      <strike>
        <i class="fa fa-inr"></i>{{_data.price}}</strike> &nbsp;
      <strong>
        <i class="fa fa-inr"></i>{{_data.discounted_price}}</strong>
    </p>

    <p class="card-text text-right mt-1" *ngIf="_data.price">
      <i class="fa fa-inr"></i>{{_data.price}}
    </p>

    <button class="btn btn-sm btn-primary waves-light text-right" (click)="style.show()" mdbRippleRadius>View Details</button>
  </div>
</div>

<!-- Modal -->

<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">{{_data.title}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
          <span aria-hidden="true" class="white-black">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="width: 33%;">
            <i class="fa fa-play" aria-hidden="true"></i> {{_data.modal_data.no_lectures}}&nbsp;lectures
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="width: 33%;">
            <i class="fa fa-clock-o" aria-hidden="true"></i> {{_data.modal_data.hours}}&nbsp;hours
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="width: 33%;">
            <i class="fa fa-level-up" aria-hidden="true"></i> {{_data.modal_data.level}}&nbsp;Level
          </div>
        </div>
        <br>
        <h6 class="">
          <strong>{{_data.modal_data.desc_points}}</strong>
        </h6>
        <p>{{_data.modal_data.description}}</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-lg btn-add-to-cart" data-dismiss="modal" mdbRippleRadius (click)="style.hide(); goToCart()"
          *ngIf="goToCartButton">Go to Cart</button>
        <button type="button" class="btn btn-lg btn-add-to-cart" data-dismiss="modal" mdbRippleRadius (click)="addToCart(_data)"
          *ngIf="!goToCartButton">Add to Cart</button>
      </div>
    </div>
  </div>
</div>