<div class="container py-5">
  <br>
  <div class="about-course">
    <h4 class="h4-responsive">About Course</h4>
    <br>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            Name
          </td>
          <td> {{overViewCourse?.course_title}}</td>
        </tr>
        <tr>
          <td>
            Subtitle
          </td>
          <td>{{overViewCourse?.course_subtitle}}</td>
        </tr>
        <tr>
          <td>Language</td>
          <td>{{overViewCourse?.language != null ? overViewCourse?.language.label : '' }}</td>
        </tr>
        <tr>
          <td>
            Level
          </td>
          <td>{{overViewCourse?.level.label}}</td>
        </tr>
        <tr>
          <td>
            Instructor
          </td>
          <td>{{overViewCourse?.instructor}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>