{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="col-md-12 guroomed-courses">
    <h2 class="center"><strong><b>orders Listing</b></strong></h2>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>                    
            <th>course_id</th> 
            <th>user_id</th> 
            <th>course_price</th> 
            <th>tax_price</th> 
            <th>discount_price</th> 
            <th>total_price</th> 
            <th>currency</th> 
            <th>created_at</th> 
            <th>updated_at</th> 
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}

        <tr>
            <td>{{order.id}}</td>                  
            <td>{{order.course_id.title}}</td> 
            <td>{{order.user_id.first_name}} {{order.user_id.last_name}}</td> 
            <td>{{order.course_price}}</td> 
            <td>{{order.tax_price}}</td> 
            <td>{{order.discount_price}}</td> 
            <td>{{order.total_price}}</td> 
            <td>{{order.currency}}</td> 
            <td>{{order.created_at}}</td> 
            <td>{{order.updated_at}}</td> 
            <td>
                 <a href="/api/paypal/orders/delete/{{order.id}}" class="btn btn-danger btn-sm waves-effect waves-light"><i class="fa fa-trash" aria-hidden="true"></i> DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}