{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="row guroomed-courses">
<div class="col-md-12">
<div class="col-md-6">
<h4 class="center"><strong><b>Edit Instructor</b></strong></h4>
</div>
</div>
<div class="col-md-12">
<div class="col-md-2">
</div>
<form method="post" action="/api/courses/instruct/edit/update/{{instructor.id}}">
{% csrf_token %}

<div class="col-md-4">
   <div class="md-form">
        <select class="mdb-select" name="user_id">
            <option value="" disabled selected>Users</option>
            {% for user in users %}
                {% if user.first_name == '' %}
                    {% if instructor.user_id.id == user.id %}
                        <option selected value="{{user.id}}">{{user.email}}</option>
                    {% else %}
                        <option value="{{user.id}}">{{user.email}}</option>
                    {% endif %}
                {% else %}
                    {% if instructor.user_id.id == user.id %}
                        <option selected value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                    {% else %}
                        <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                    {% endif %}
                {% endif %}
                    
            {% endfor %}
        </select>
</div> 
   <div class="md-form">
    <i class="fa fa-star prefix yellow-text" aria-hidden="true"></i>
    <input type="text" id="rating" class="form-control" name="rating" value={{instructor.rating}}>
    <label for="rating">Rating</label>
</div> 
   <div class="md-form">
    <i class="fa fa-users prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="students" class="form-control" name="students" value={{instructor.students}}>
    <label for="students">Students</label>
</div> 
   <div class="md-form">
    <i class="fa fa-star-o prefix orange-text" aria-hidden="true"></i>
    <input type="text" id="reviews" class="form-control" name="reviews" value={{instructor.reviews}}>
    <label for="reviews">Reviews</label>
</div> 
   <div class="md-form">
    <i class="fa fa-sort-numeric-asc prefix black-text" aria-hidden="true"></i>
    <input type="text" id="coursesno" class="form-control" name="courses" value={{instructor.courses}}>
    <label for="coursesno">Course No</label>
</div> 
<button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
</div>
</form>
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>
</div>
</div>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.mdb-select').material_select();
        });
    s</script>
    {% endblock %}