<div class="container-fluid">
  <div class="row">
    <p class="card-title">Reviewer List</p>
    <hr>
    <table class="table table-hover mb-0 table-bordered">
      <thead>
        <tr>
          <th>
            S No.
          </th>
          <th class="th-lg">
            Reviewer Name
          </th>
          <th class="th-lg">
            Email Id
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reviewer of reviewerList; let i = index">
          <td>{{i+1}}</td>
          <td>{{reviewer.name}}</td>
          <td>{{reviewer.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>