<app-side-nav></app-side-nav>

<div id="main">
  <span id="open" (click)="openNav()" *ngIf="!sideNavOpened">&#9776;</span>
  <span id="close" (click)="closeNav()" *ngIf="sideNavOpened"> &#x2716;</span>
  <span class="goto_dashboard">
    <a id="gotoDashboard" (click)="gotoDashboard()">Go To Dashboard</a>
  </span>
  <span *ngIf="!quiz_Id">
    <iframe [src]="video_Id | safe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </span>
  <div *ngIf="quiz_Id">
    <div *ngIf="!isQuizActive">
      <div class="container py-5">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div *ngFor="let sObj of sectionData">
              <div class="" *ngFor="let quizObj of sObj.curriculumQuiz; let i = index">
                <div *ngIf="quiz_Id == quizObj.id">
                  <h1>Quiz Title: {{quizObj.title}}</h1>
                  <h4>Description: {{quizObj.description}}</h4>
                  <br>
                  <button class="btn btn-danger waves-effect" (click)="startQuiz()">Start Quiz</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5" *ngIf="isQuizActive">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div *ngFor="let sObj of sectionData">
          <div class="" *ngFor="let quizObj of sObj.curriculumQuiz">
            <div *ngIf="quiz_Id == quizObj.id">
              <div *ngFor="let qObj of quizObj.quizQuestion.reverse() | paginate: { itemsPerPage: 1, currentPage: p }">
                <h5>Question {{i}} : {{qObj.content}}</h5>
                <br>
                <!-- <div class="alert alert-{{success}}" *ngIf="showResponse">
                  {{this.answerResponse}}
                </div> -->
                <br>
                <div *ngFor="let ansObj of qObj.answer">
                  <div class="quiz-answer">
                    <div class="form-check">
                      <input name="answer" type="radio" class="with-gap" id="{{ansObj.id}}" (click)="isSelected(ansObj.is_correct)">
                      <label for="{{ansObj.id}}">{{ansObj.answer}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <button class="btn btn-danger waves-effect" (click)="checkAnswer()">Check Answer</button>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <pagination-controls maxSize="0" (pageChange)="p = $event" ></pagination-controls>
      </div>
    </div>
  </div>

</div>