<form method="post" action="/courses/includes/store">
{% csrf_token %}
<div class="col-md-3">
   <div class="md-form">

    <i class="fa fa-book prefix blue-text" aria-hidden="true"></i>
    <input type="text" id="course_id" class="form-control" name="course_id" required="required" placeholder="course_id">
    <input type="text" id="hours_on_demand" class="form-control" name="hours_on_demand" required="required" placeholder="hours_on_demand">
    <input type="text" id="supplemental_resources" class="form-control" name="supplemental_resources" required="required" placeholder="supplemental_resources">
    <input type="text" id="lifetime_access" class="form-control" name="lifetime_access" required="required" placeholder="lifetime_access">
    <input type="text" id="access_on_mobile" class="form-control" name="access_on_mobile" required="required" placeholder="access_on_mobile">
    <input type="text" id="certificate" class="form-control" name="certificate" required="required" placeholder="certificate">
</div>

</div>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>