<form (submit)="onSubmitForgotPassword()" #form="ngForm">
  <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="text" id="user_emailId" name="user_emailId" class="form-control" [(ngModel)]="resetEmail.user_emailId" #user_emailId="ngModel"
      required mdbActive>
    <label for="user_emailId">E-mail </label>
    <span class="error-msg" *ngIf="user_emailId.touched && !user_emailId.valid">Enter Email Id</span>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-deep-orange waves-light" data-dismiss="modal" mdbRippleRadius [disabled]="form.invalid">Recover Password</button>
  </div>
</form>
<!--/Register form-->