<div class="container-fluid">
  <h4 class="h4-responsive">Add Reviewer</h4>
  <hr>
  <form #form="ngForm" (submit)='createReviewer()'>
    <div class="card p-4">
      <br>
      <div class="row">
        <div class="col-md-6">
          <mdb-select [options]="categoryList" name="category" [(ngModel)]="newReviewer.category" #category required placeholder="Select Category"></mdb-select>
          <label>Category &nbsp;
            <span class="mandatory">*</span>
          </label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <input mdbInputDirective type="text" name="first_name" [(ngModel)]="newReviewer.first_name" id="first_name" #first_name class="form-control"
              mdbActive required>
            <label for="first_name" class="">First Name&nbsp;
              <span class="mandatory">*</span>
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <input mdbInputDirective type="text" name="last_name" [(ngModel)]="newReviewer.last_name" id="last_name" #last_name class="form-control"
              mdbActive required>
            <label for="last_name" class="">Last Name&nbsp;
              <span class="mandatory">*</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <input mdbInputDirective type="text" name="email" [(ngModel)]="newReviewer.email" id="email" #email class="form-control"
              mdbActive required>
            <label for="email" class="">Email Address&nbsp;
              <span class="mandatory">*</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="md-form">
            <input mdbInputDirective type="password" name="password" [(ngModel)]="newReviewer.password" id="password" #password class="form-control"
              mdbActive required autocomplete>
            <label for="password" class="">Passowrd&nbsp;
              <span class="mandatory">*</span>
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form">
            <input mdbInputDirective type="password" name="confirm_password" [(ngModel)]="newReviewer.confirm_password" id="confirm_password"
              #confirm_password class="form-control" mdbActive required autocomplete>
            <label for="confirm_password" class="">Confirm Password&nbsp;
              <span class="mandatory">*</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-blue-grey waves-light" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn btn-danger waves-light" [disabled]="form.invalid">Save&nbsp;<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
        </div>
      </div>

    </div>
  </form>
</div>