.btn-flat{
    margin: 0rem;
}

.rounded-circle{
    width: 70px;
    height: 70px;
}

.user-text-avatar{
    width: 70px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.user-text-avatar{
    font-size: 1.5rem;
    color: #eee;
    border: 1px solid;
    border-radius: 50%;
}