{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="row guroomed-courses">
<div class="col-md-12">
<div class="col-md-6">
<h4 class="center"><strong><b>Add Tag</b></strong></h4>
</div>
</div>

<div class="col-md-12">
<div class="col-md-2">

</div>
<form method="post" action="/api/courses/tag/store">
{% csrf_token %}
<div class="col-md-3">
   <div class="md-form">

    <i class="fa fa-book prefix blue-text" aria-hidden="true"></i>
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" name="name" required="required">
  
</div>

</div>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-2">
    <p style="color:red;">
        {% if error != '' %}
            {{error}}
        {% endif %}
    </p>
</div>
</div>
</div>
</div>
{% endblock %}