<div class="text-center">
  <h2>Profile</h2>
  <p>Add information about yourself to share on your profile.</p>
</div>
<hr class="m-0">
<div class="container">
  <form>

    <div class="row">
      <div class="col-xs-12 col-sm- 6 col-md-6 col-lg-6 col-xl-6">
        <div class="md-form">
          <input mdbActive name="firstName" type="text" class="form-control" #firstName [(ngModel)]="profileData.firstName" placeholder="First Name">
          <!-- <label for="first_name" class="">First Name</label> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm- 6 col-md-6 col-lg-6 col-xl-6">
        <div class="md-form">
          <input mdbActive name="lastName" type="text" class="form-control" #lastName [(ngModel)]="profileData.lastName" placeholder="Last Name">
          <!-- <label for="first_name" class="">Last Name</label> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form">
          <input type="text" name="headline" [(ngModel)]="profileData.headline" #headLine mdbActive placeholder="Headline">
          <!-- <label for="input_text">Input text</label> -->
          <span style="color: #5d6d86;font-size: 0.7rem;">Add a professional headline like, 'Engineer at Guroomed' or 'Architect.'</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form">
          <textarea mdbActive type="text" name="biography" [(ngModel)]="profileData.biography" #biography class="md-textarea"></textarea>
          <label for="form7">Biography :</label>
          <span style="color: #5d6d86;font-size: 0.7rem;">Links are not allowed here but are allowed in the link section below. Coupon codes are not permitted. For instructors,
            your biography should have at least 50 words.</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mdb-select [options]="optionsSelect" name="language" [(ngModel)]="profileData.language" #language placeholder="--Select Language--" value=""></mdb-select>
        <!-- <label>Example label</label> -->
      </div>
    </div>
    <hr>
    <h4>Links</h4>
    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form">
          <input id="input_text" type="text" name="websiteLink" [(ngModel)]="profileData.websiteLink" #websiteLink mdbActive placeholder="Website">
          <!-- <label for="input_text">Input text</label> -->
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">https://plus.google.com/</span>
          </div>
          <input type="text" class="form-control p-0 pl-2" name="gplusLink" [(ngModel)]="profileData.gplusLink" #gplusLink aria-describedby="basic-addon1" placeholder="Google+ Link">
          <!-- <span style="color: #5d6d86;font-size: 0.7rem;">Add your Google+ profile name (e.g. +JohnSmith or 33338888789996)</span> -->
        </div>
        
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">http://twitter.com/</span>
          </div>
          <input type="text" class="form-control p-0 pl-2" name="twitterLink" [(ngModel)]="profileData.twitterLink" #twitterLink aria-describedby="basic-addon2" placeholder="Twitter Profile">
          <!-- <span style="color: #5d6d86;font-size: 0.7rem;">Add your Twitter username (e.g. johnsmith).</span> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">http://www.facebook.com/</span>
          </div>
          <input type="text" class="form-control p-0 pl-2" name="facebookLink" [(ngModel)]="profileData.facebookLink" #facebookLink aria-describedby="basic-addon3" placeholder="Facebook Profile">
          <!-- <span style="color: #5d6d86;font-size: 0.7rem;">Input your Facebook username (e.g. johnsmith).</span> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon4">http://www.linkedin.com/</span>
          </div>
          <input type="text" class="form-control p-0 pl-2" name="linkedinLink" [(ngModel)]="profileData.linkedinLink" #linkedinLink aria-describedby="basic-addon4" placeholder="Linkedin Profile">
          <!-- <span style="color: #5d6d86;font-size: 0.7rem;">Input your LinkedIn resource id (e.g. in/johnsmith).</span> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12">
        <div class="md-form input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon4">http://www.youtube.com/</span>
          </div>
          <input type="text" class="form-control p-0 pl-2" name="youtubeLink" [(ngModel)]="profileData.youtubeLink" #youtubeLink aria-describedby="basic-addon4" placeholder="Youtube Profile">
          <!-- <span style="color: #5d6d86;font-size: 0.7rem;">Input your Youtube username (e.g. johnsmith).</span> -->
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm- 12 col-md-12 col-lg-12 col-xl-12 text-center pb-3">
        <button type="button" class="btn btn-danger waves-light" mdbrippleradius (click)="saveProfile()">Save</button>
      </div>
    </div>

  </form>
</div>