.jumbotron{
    background: linear-gradient(#29303b,#29303b,#29303b);
    color: #fff;
    padding: 3rem 2rem;
    margin: 0rem;
}

.rating_count{
    display: inline-block;
    position: relative;
}

.what_will_learn{
    border: 1px solid #dedfe0;
    background-color: #f9f9f9;
    padding: 1rem;
}

table td{
    padding-top: 1rem;
}

.requirement ul {
    padding-left: 1.2rem;
}

.btn-outline-primary {
    border: 1px solid #505763;
    color: #686f7a !important;
    background-color: transparent;
}
/* Accordion Custom Css */

ul{
    list-style: none;
    padding-left: 0rem;
}

.modal{
    overflow: auto;
}

.modal-dialog.modal-notify .modal-body {
    padding: 0rem;
}

// .img-fluid {
//     height: 25vh;
// }

.fa-play {
    color: #686f7a;
}