<app-loader *ngIf="loader.visible"></app-loader>
<div *ngIf="courseDetailsdata?.title && !loader.visible">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h4>{{courseDetailsdata.title}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5>{{courseDetailsdata.subtitle}}</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <app-star-rating [rating]="courseDetailsdata.ratings"></app-star-rating>
              <div class="rating_count">
                <span>{{courseDetailsdata.ratings}} ({{courseDetailsdata.rating_count}} rating)</span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <span>{{courseDetailsdata.students_enrolled}} Students Enrolled</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <span *ngFor="let instructors of courseDetailsdata.instructors">
                Created by : {{instructors.first_name}} {{instructors.last_name}}
              </span>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              Last updated 1/2018
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              {{courseDetailsdata.course_language_name}}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="">
            <!--Card image-->
            <!-- <div class="view hm-white-slight waves-light" mdbRippleRadius> -->
            <img [src]="image_url" class="img-fluid" alt="Course Image">
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-md-8">

        <div class="row" *ngIf="courseDetailsdata.what_will_i_learn != 'null'">
          <div class="col-md-12">
            <div class="what_will_learn">
              <h4>What Will I Learn</h4>
              <table>
                <tbody>
                  <tr>
                    <td>{{courseDetailsdata.what_will_i_learn}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row mt-5" *ngIf="courseDetailsdata.requirements != 'null'">
          <div class="col-md-12">
            <div class="requirement">
              <h4>Requirement</h4>
              {{courseDetailsdata.requirements}}
            </div>
          </div>
        </div>

        <div class="row mt-5" *ngIf="courseDetailsdata.description != 'null'">
          <div class="col-md-12">
            <div class="">
              <h4>Description</h4>
              <p>{{courseDetailsdata.description}}</p>
            </div>
          </div>
        </div>

        <div class="row mt-5 curriculum_style" *ngIf="courseDetailsdata.curriculum.length > 0">
          <div class="col-md-12">
            <h4>Curriculum For This Course</h4>

            <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
              <mdb-item *ngFor="let item of courseDetailsdata.curriculum">
                <mdb-item-head>
                  <div class="row" style="margin-left: 1rem;">
                    <div class="col-sm-7 col-md-7">
                      {{ item.title }}
                    </div>
                    <div class="col-sm-3 col-md-3">
                      {{item.curriculumLect.length}} Lectures
                    </div>
                    <!-- <div class="col-md-3">
                    </div> -->
                  </div>
                </mdb-item-head>
                <mdb-item-body>
                  <ul>
                    <li *ngFor="let a of item.curriculumLect; let i = index">
                      <div class="row">
                        <div class="col-sm-7 col-md-7">
                          <a>
                            <i class="fa fa-play"></i>
                            <span style="padding-left: 0.5rem;">{{a.title}}</span>
                          </a>
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <a (click)="video.show()" *ngIf="a.preview_url != null">Preview</a>
                        </div>
                      </div>
                      <div mdbModal #video="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myvideoLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close pull-right" aria-label="Close" (click)="video.hide()">
                                <span aria-hidden="true">×</span>
                              </button>
                              <h4 class="modal-title w-100" id="myModalLabel">{{a.title}}</h4>
                            </div>
                            <div class="modal-body">
                              <div class="embed-responsive embed-responsive-4by3">
                                <iframe src="https://player.vimeo.com/video/45859302" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="video.hide()" mdbRippleRadius>Close</button>
                              <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </mdb-item-body>
              </mdb-item>
            </mdb-squeezebox>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div id="header" mdbSticky style="top: 1rem;">
          <div class="card">
            <div class="card-body">
              <h4 *ngIf="courseDetailsdata.discount">
                <strong>
                  <i class="fa fa-inr"></i> {{courseDetailsdata.discount}}</strong>
                <span>|</span>
                <strike>
                  <i class="fa fa-inr"></i> {{courseDetailsdata.price}}</strike>
              </h4>
              <h4 *ngIf="!courseDetailsdata.discount">
                <i class="fa fa-inr"></i> {{courseDetailsdata.price}}
              </h4>
              <div class="text-center">
                <button type="button" class="btn btn-danger waves-light" mdbRippleRadius style="width: 90%" (click)="buyNow(courseDetailsdata.id)">Buy Now</button>
                <br>
                <button type="button" class="btn btn-outline-primary waves-light" mdbRippleRadius style="width: 90%" (click)="addToCart(courseDetailsdata)"
                  *ngIf="!goToCartButton">Add To Cart</button>
                <button type="button" class="btn btn-outline-primary waves-light" mdbRippleRadius style="width: 90%" (click)="goToCart()"
                  *ngIf="goToCartButton">Go To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>