<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <img src="https://www.udemy.com/staticx/udemy/images/course/750x422/placeholder.png" class="overview-image">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                <h4 class="h4-responsive">{{courseTitle}}</h4>
                <button type="button" class="btn btn-danger waves-light" mdbRippleRadius>Continue to Lecture</button>
                <br>
                <br>
                <star-rating [routerLink]="['/course','feedback']"></star-rating>
                <br>
                <br>
                <mdb-progressbar value="25" min="0" max="100" type="success" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></mdb-progressbar>
            </div>
        </div>
    </div>
</div>
<div class="course-section">
    <div class="container">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['overview']" routerLinkActive="active">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['content']" routerLinkActive="active">Course Content</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['questions']" routerLinkActive="active">Q&A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['bookmarks']" routerLinkActive="active">Bookmarks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['announcements']" routerLinkActive="active">Announcements</a>
            </li> -->
        </ul>
    </div>
</div>
<section class="bg-content">
    <router-outlet></router-outlet>
</section>