.overview-image{
    width: 425px;
    height: 240px;
}

.course-section{
    padding: 0.4rem;
    background-color: #fff;
    border-bottom: 1px solid #dedfe0;
}

.nav-link{
    color: #555;
    padding: 0.5rem 3rem 0.5rem 0rem;
}

.bg-content{
    background-color: #f2f3f5;
}

.active{
    font-weight: bold;
    color: #000;
}