<div class="container mt-2 mb-2">
  <section class="section">
    <div class="row">
      <div class="col-lg-4 col-md-12">

        <div class="pricing-card naked-card">
          <div class="card-body">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td class="text-left">Price</td>
                  <td class="text-right">{{checkoutData?.course_price}}</td>
                </tr>
                <tr>
                  <td class="text-left">Discount</td>
                  <td class="red-text text-right"> - {{checkoutData?.discount_price}}</td>
                </tr>
                <tr>
                  <td class="text-left">Tax</td>
                  <td class="text-right">{{checkoutData?.tax_price}}</td>
                </tr>
                <tr>
                  <td class="text-left">Total Price</td>
                  <td class="text-right">{{checkoutData?.total_price}}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <a class="btn btn-primary btn-rounded waves-light" [href]="proceed" mdbRippleRadius>Proceed</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>