<div class="container-fluid">
  <div class="row" id="infostrip-bgcolor">
      <div class="col-md-4">
          <i class="fa fa-external-link fa-2x white-text"></i><br>
          <span class="strip-text">
            <b>{{_data[0]?.title}}</b><br>
            <p>{{_data[0]?.subtitle}}</p>
           </span> 
       </div>
       <div class="col-md-4">
           <i class="fa fa-check fa-2x white-text"></i><br>
           <span class="strip-text">
            <b>{{_data[1]?.title}}</b><br>
            <p>{{_data[1]?.subtitle}}</p>
           </span>
       </div>
       <div class="col-md-4">
           <i class="fa fa-clock-o fa-2x white-text"></i><br>
           <span class="strip-text">
            <b>{{_data[2]?.title}}</b><br>
            <p>{{_data[2]?.subtitle}}</p>
           </span>
       </div>
  </div>
</div>