{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="col-md-12">
<h4 class="center"><strong><b>Assign Subcategory to Manager</b></strong></h4>
</div>
<div class="col-md-8">
<form method="post" action="/api/user/manager/assign-sub/{{manager.id}}/">
{% csrf_token %}
<div class="md-form">
<i class="fa fa-object-group prefix orange-text" aria-hidden="true"></i>
&nbsp;
    <select class="mdb-select" name="sub_cat_id">
        <option value="" disabled selected>Select Subcategory</option>
        {% for subcategory in subcategories %}
            {% if subcategory.id == selected_sub.id %}
                <option selected value="{{subcategory.id}}">{{subcategory.name}}</option>
            {% else %}
                <option value="{{subcategory.id}}">{{subcategory.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<button type="submit" class="btn btn-warning">Submit</button>
</form>
</div>
<div class="col-md-4">
    {% if error %}<div class="p-1 mb-2 bg-danger text-white">{{error}}</div>{% endif %}
    {% if message %}<div class="p-1 mb-2 bg-success text-white">{{message}}</div>{% endif %}
</div>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.mdb-select').material_select();
        });
    </script>
{% endblock %}