{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
<div class="col-md-12">
<h4 class="center"><strong><b>Add Manager</b></strong></h4>
</div>
<div class="col-md-8">
<form method="post" action="/api/user/manager/create/">
{% csrf_token %}
<div class="md-form">
    <i class="fa fa-envelope prefix red-text" aria-hidden="true"></i>
    <input type="text" id="email" class="form-control" name="email" value={{request.POST.email}}>
    <label for="email ">Email</label>
</div> 
<div class="md-form">
    <i class="fa fa-user prefix green-text" aria-hidden="true"></i>
    <input type="text" id="first_name" class="form-control" name="first_name" value={{request.POST.first_name}}>
    <label for="first_name">First Name</label>
</div> 
<div class="md-form">
    <i class="fa fa-user prefix green-text" aria-hidden="true"></i>
    <input type="text" id="last_name" class="form-control" name="last_name" value={{request.POST.last_name}}>
    <label for="last_name">Last Name</label>
</div>
<!-- <div class="md-form">
<i class="fa fa-object-group prefix orange-text" aria-hidden="true"></i>
&nbsp;
    <select class="mdb-select" multiple>
    <option value="" disabled selected>Select Group</option>
         {% for group in groups %}
             {% if group in selectedgroups %}
                 <option id="groups" name="groups[]" value={{group.id}}>{{group.name}}</option>
             {% else %}
                 <option id="groups" name="groups[]" value={{group.id}}>{{group.name}}</option>
             {% endif %}
         {% endfor %}
     </select>
</div> -->
<div class="md-form">
    <i class="fa fa-user prefix blue-text" aria-hidden="true"></i>
    <input type="password" id="password1" class="form-control" name="password1" value={{request.POST.password1}}>
    <label for="password1">Password</label>
</div> 
<div class="md-form">
    <i class="fa fa-user prefix blue-text" aria-hidden="true"></i>
    <input type="password" id="password2" class="form-control" name="password2" value={{request.POST.password2}}>
    <label for="password2">Confirm Password</label>
</div> 
<button type="submit" class="btn btn-warning">Submit</button>
</form>
</div>
<div class="col-md-4">
    {% if error %}<div class="p-1 mb-2 bg-danger text-white">{{error}}</div>{% endif %}
    {% if message %}<div class="p-1 mb-2 bg-success text-white">{{message}}</div>{% endif %}
</div>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
        $('.mdb-select').material_select();
        });
    </script>
{% endblock %}