<div class="course-reviewer">
  <h4 class="h4-responsive">Guroomed Reviewer Management</h4>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p class="">Reviewer Task</p>
      <div class="table-wrapper">
        <table class="table table-hover mb-0 table-bordered">

          <thead class="blue-grey text-white">
            <tr>
              <th>
                S No.
              </th>
              <th class="th-lg">
                Course Name
              </th>
              <!-- <th class="th-lg">
                Author Name
              </th> -->
              <th class="th-lg">
                Course Category
              </th>
              <th class="th-lg">
                Created Date
              </th>
              <th class="th-lg">
                Status
              </th>
              <th class="th-lg">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let draft of draftsCourse; let i = index">
              <th scope="row">
                {{i + 1}}
              </th>
              <td>{{draft.course_title}}</td>
              <!-- <td>{{draft.instructor}}</td> -->
              <td>{{draft.subcategory.label}}</td>
              <td>{{draft.created_at}}</td>
              <td>{{draft.status}}</td>
              <td>
                <a class="blue-text" mdbTooltip="View Course" placement="top" [routerLink]="['/instructor', 'course', 'draft-content', draft.course_id, 'overview']">
                  <i class="fa fa-newspaper-o"></i>
                </a>
                <!-- <a class="pl-3" mdbTooltip="Assign Reviewer" (click)="reviewer.show()" placement="top">
                <i class="fa fa-user-plus"></i>
              </a> -->
                <a class="green-text pl-3" mdbTooltip="Accept" placement="top" (click)="approve.show()" *ngIf="draft.status != 'Approved'">
                  <i class="fa fa-check-circle"></i>
                </a>
                <a class="red-text pl-3" mdbTooltip="Reject" (click)="reviewer.show()" placement="top" *ngIf="draft.status != 'Approved'">
                  <i class="fa fa-ban"></i>
                </a>
              </td>

              <div mdbModal #approve="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form #form="ngForm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Reason for Approved</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="approve.hide()">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="md-form">
                              <textarea type="text" class="md-textarea" name="approved_comment" #approved_comment [(ngModel)]="approvedReason.approved_comment"
                                mdbActive></textarea>
                              <label>Comment</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="approve.hide()" mdbRippleRadius>Close</button>
                        <button type="submit" class="btn btn-primary btn-sm waves-light" (click)="approvedCourse(draft.course_id); approve.hide();"
                          mdbRippleRadius [disabled]="form.invalid">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Modal -->
              <div mdbModal #reviewer="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <form #form="ngForm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Reason for Reject</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reviewer.hide()">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row py-2">
                          <div class="col-md-12">
                            <mdb-select [options]="reasonSelect" [multiple]="false" name="reject_reason" [(ngModel)]="rejectReason.reject_reason" #reject_reason
                              placeholder="Choose your option"></mdb-select>
                            <label>Reject Reason</label>
                          </div>
                        </div>
                        <div class="row py-2">
                          <div class="col-md-12">
                            <div class="md-form">
                              <textarea type="text" class="md-textarea" name="reject_comment" #reject_comment [(ngModel)]="rejectReason.reject_comment"
                                mdbActive></textarea>
                              <label>Comment</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="reviewer.hide()" mdbRippleRadius>Close</button>
                        <button type="submit" class="btn btn-primary btn-sm waves-light" (click)="rejectCourse(draft.course_id); reviewer.hide();"
                          mdbRippleRadius [disabled]="form.invalid">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- ./ Modal-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>