.jumbotron{
    background-color: #505763;
    color: #fff;
    padding-bottom: 0;
    margin: 0rem;
}

.bg-color{
    background: #eeee;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul{
    padding: 0rem;
    margin-bottom: 0rem;
}

li {
    list-style: none;
}

li a{
    border-bottom: 0.5rem solid #aaa;
}

.progress{
    margin-bottom: 0rem;
}

.progress_percentge, .leave_rating{
    font-size: 0.8rem;
}

.card-body{
   padding: 0.5rem;
   cursor: pointer;
}

.user_rating{
    float: right;
}

.mask{
    opacity: 0;
}

.play_button:hover .mask{
    opacity: 1;
    background-color: rgba(158, 158, 158, 0.5);
}


//Rating 
.star-rating--static {
    color: #dedfe0;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-left: -2px;
}

.star-rating--static.star-rating--smaller:before, .star-rating--static.star-rating--smaller span:before {
    font-size: 15px;
}

.star-rating--static span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
}

.star-rating--static.star-rating--primary span:before {
    color: #f4c150;
}

.star-rating--static span:before {
    color: #f4c150;
}

.star-rating--static:before, .star-rating--static span:before {
    font-family: fontawesome;
    content: "\F005\F005\F005\F005\F005";
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1;
}

.img-fluid{
    height: 20vh;
    // cursor: pointer;
}

@media (min-width: 1200px) {
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}