.contact{
    background-color: #eee;
}

ul{
    padding: 0rem;
}

li {
    list-style: none;
    color: #686f7a;
}

.rounded-circle{
    width: 120px;
    height: 120px;
}

.user-text-avatar{
    width: 120px;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.user-text-avatar{
    background-color: #fff;
    font-size: 2rem;
    color: #686f7a;
    border: 1px solid;
    border-radius: 50%;
}