<div class="container">
  <form>
    <section class="section mb-5 pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-lg-3">
                <div class="card-body contact">
                  <div class="container">
                    <div class="mb-5">
                      <div class="avatar text-center" *ngIf="nameImagePlaceholder == ''">
                        <a>
                          <img [src]="this.profileImage" class="rounded-circle">
                        </a>
                      </div>
                      <div class="user-text-avatar text-center" *ngIf="nameImagePlaceholder != ''">
                        <span>{{nameImagePlaceholder | uppercase}}</span>
                      </div>
                      <br>
                      <p class="text-center black-text">{{currentUser}}</p>
                      <hr>
                      <ul class="profile-link">
                        <!-- <li>
                          <a>View Public Profile</a>
                        </li> -->
                        <li>
                          <a [routerLink]="[{ outlets: { profile:['editProfile']}}]">Profile</a>
                        </li>
                        <li>
                          <a [routerLink]="[{ outlets: { profile:['uploadImage']}}]">Photo</a>
                        </li>
                        <li>
                          <a [routerLink]="[{ outlets: { profile:['changePassword']}}]">Account</a>
                        </li>
                        <!-- <li>
                          <a>Credit Cards</a>
                        </li>
                        <li>
                          <a>Notifications</a>
                        </li>
                        <li>
                          <a>API Clients</a>
                        </li> -->
                        <li>
                          <a [routerLink]="[{ outlets: { profile:['deleteAccount']}}]">Delete Account</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-9">
                <router-outlet name="profile"></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>