<app-loader *ngIf="loader.visible"></app-loader>
<div class="container py-5">
  <div class="row curriculum-content">
    <div class="col-md-12">
      <h4>Curriculum For This Course</h4>
      <mdb-squeezebox [multiple]="false" aria-multiselectable="true">
        <mdb-item *ngFor="let sObj of sectionData; let i = index;">
          <mdb-item-head>
            <div class="row">
              <div class="col-sm-11 col-md-11">
                <span>Section: {{i + 1}}</span>
                <br>
                <h4 class="h4-responsive">{{sObj.title}}</h4>
              </div>
              <div class="col-sm-1 col-md-1">
                {{sObj.curriculumLect.length}}
              </div>
              <!-- <div class="col-md-3">
              </div> -->
            </div>
          </mdb-item-head>
          <mdb-item-body>
            <ul>
              <li *ngFor="let lecObj of sObj.curriculumLect.reverse()" (click)="onLecturesClick(course_id, lecObj)">
                <a>
                  <i class="fa fa-play-circle-o"></i>
                  <span style="padding-left: 0.5rem;">{{lecObj.order_num}}. {{lecObj.title}}</span>
                </a>
                <!-- <a (click)="video.show()" *ngIf="a.preview_url != null">Preview</a> -->
                <!-- <div mdbModal #video="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myvideoLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="video.hide()">
                        <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">{{a.title}}</h4>
                    </div>
                    <div class="modal-body">
                      <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://player.vimeo.com/video/45859302" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="video.hide()" mdbRippleRadius>Close</button>
                      <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Save changes</button>
                    </div>
                  </div>
                </div>
              </div> -->
              </li>
              <li *ngFor="let quizObj of sObj.curriculumQuiz.reverse()" (click)="onQuizClick(course_id, quizObj)">
                <a>
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span style="padding-left: 0.5rem;">{{ quizObj.title }}</span>
                </a>
              </li>
            </ul>
          </mdb-item-body>
        </mdb-item>
      </mdb-squeezebox>

    </div>
  </div>
</div>