{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
  {% load permission_tags %}

  {% if request.user.is_authenticated %}
  {% if user|has_role:'faculty,superadmin' %}
   {% if message %}
    <div id="success-message">
      {{ message }}
    </div>
    <br><br>
   {% endif %}
    <form action="/api/videos/autodesk/bucket/upload" method="post" id="upload_bucket" enctype="multipart/form-data">
    {% csrf_token %}
  <p class="h5 text-center mb-4">Upload Bucket</p> 

  <div class="md-form">
    <i class="fa fa-file-text prefix red-text"></i>
    <label class="required" for="token">OAuth Scopes data:write token</label>
    <input type="text" name="token" class="token" required id="token" {% if request %}value="{{request.token}}"{% endif %} />
  </div>   
  <div class="md-form">
    <i class="fa fa-comments prefix blue-text"></i>
    <label class="required" for="bucketKey">Bucket Key</label>
    <input type="text" name="bucketKey" class="bucketKey" required id="bucketKey" {% if request %}value="{{request.bucketKey}}"{% endif %} />
  </div> 
  <div class="md-form">
    <i class="fa fa-comments prefix blue-text"></i>
    <label class="required" for="objectName">Object Name</label>
    <input type="text" name="objectName" class="objectName" required id="objectName" {% if request %}value="{{request.objectName}}"{% endif %} />
  </div> 
  <div class="md-form">
    <i class="fa fa-file-video-o prefix purple-text"></i>
    <label class="required" for="modelFile">Upload File</label><br><br>
    <input type="file" name="modelFile" id="modelFile"  {% if request %}value={{request.modelFile}}{% endif %} />
  </div>  
  <div class="text-center">
    <input type="submit" value="Save" class="btn-info" name="_save" />
  </div>    
    
  </form>
{% else %}
You don't have access to view this page.
{% endif %}
{% else %}
  You don't have access to view this page. Please <a href="/api/login">login</a>
{% endif %}
{% endblock %}