{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
  {% load permission_tags %}

  {% if request.user.is_authenticated %}
  {% if user|has_role:'faculty,superadmin' %}
   {% if message %}
    <div id="success-message">
      {{ message }}
    </div>
    <br><br>
   {% endif %}
    <form action="/api/videos/autodesk/bucket/convertfile" method="post" id="convertfile">
    {% csrf_token %}
  <p class="h5 text-center mb-4">Convert File</p> 

  <div class="md-form">
    <i class="fa fa-file-text prefix red-text"></i>
    <label class="required" for="token">OAuth Scopes data:read and (data:write or data:create) token</label>
    <input type="text" name="token" class="token" required id="token" {% if request %}value="{{request.token}}"{% endif %} />
  </div>   
  <div class="md-form">
    <i class="fa fa-comments prefix blue-text"></i>
    <label class="required" for="urn">encoded URN</label>
    <input type="text" name="urn" class="urn" required id="urn" {% if request %}value="{{request.urn}}"{% endif %} />
  </div>   
  <div class="md-form">
    <i class="fa fa-comments prefix blue-text"></i>
    <label class="required" for="filename">Filename</label>
    <input type="text" name="filename" class="filename" required id="filename" {% if request %}value="{{request.filename}}"{% endif %} />
  </div>
  <div class="text-center">
    <input type="submit" value="Save" class="btn-info" name="_save" />
  </div>    
    
  </form>
{% else %}
You don't have access to view this page.
{% endif %}
{% else %}
  You don't have access to view this page. Please <a href="/api/login">login</a>
{% endif %}
{% endblock %}