{% extends "guroomed/base.html" %}

{% block title %}Guroomed{% endblock %}

{% load static %}


{% block content %}
  {% load permission_tags %}

  {% if request.user.is_authenticated %}
  {% if user|has_role:'faculty,superadmin' %}
   {% if message %}
    <div id="success-message">
      {{ message }}
    </div>
    <br><br>
   {% endif %}
    <form action="/api/videos/autodesk/bucket/create" method="post" id="create_bucket">
    {% csrf_token %}
  <p class="h5 text-center mb-4">Create Bucket</p> 

  <div class="md-form">
    <i class="fa fa-file-text prefix red-text"></i>
    <label class="required" for="token">OAuth Scopes bucket:create token</label>
    <input type="text" name="token" class="token" required id="token" {% if request %}value="{{request.token}}"{% endif %} />
  </div>   
  <div class="md-form">
    <i class="fa fa-comments prefix blue-text"></i>
    <label class="required" for="bucketKey">Bucket Key</label>
    <input type="text" name="bucketKey" class="bucketKey" required id="bucketKey" {% if request %}value="{{request.bucketKey}}"{% endif %} />
  </div> 
  <div class="md-form">
    <i class="fa fa-comments prefix blue-text"></i>
    <label class="required" for="policyKey">Policy Key</label>
    <input type="text" name="policyKey" class="policyKey" required id="policyKey" {% if request %}value="transient"{% endif %} />
  </div> 
  <div class="text-center">
    <input type="submit" value="Save" class="btn-info" name="_save" />
  </div>    
    
  </form>
{% else %}
You don't have access to view this page.
{% endif %}
{% else %}
  You don't have access to view this page. Please <a href="/api/login">login</a>
{% endif %}
{% endblock %}