<app-loader *ngIf="loader.visible"></app-loader>
<div *ngIf="homeData && !loader.visible" style="background-color: #f7f8fa;">
    <app-infostrip [data]="homeData?.homepagedata?.infostrip"></app-infostrip>
    <div class="container">
        <div *ngIf="homeData?.homepagedata?.courses[0]?.development != ''">
            <h5 class="mt-4">Top Courses in "Developement"</h5>
            <app-coursecontainer [courses]="homeData?.homepagedata?.courses[0]?.development"></app-coursecontainer>
        </div>
        <div *ngIf="homeData?.homepagedata?.courses[1]?.business != ''">
            <h5 class="mt-4">Top Courses in "Business"</h5>
            <app-coursecontainer [courses]="homeData?.homepagedata?.courses[1]?.business"></app-coursecontainer>
        </div>
        <div *ngIf="homeData?.homepagedata?.courses[2]?.design != ''">
            <h5 class="mt-4">Top Courses in "Desgin"</h5>
            <app-coursecontainer [courses]="homeData?.homepagedata?.courses[2]?.design"></app-coursecontainer>
        </div>
        <app-popularcourses></app-popularcourses>

        <div class="row text-center pb-2">
            <div class="col-md-6">
                <app-beinstructor [data]="homeData?.homepagedata?.be_instructor"></app-beinstructor>
            </div>
            <div class="col-md-6">
                <app-forbusiness [data]="homeData?.homepagedata?.for_business"></app-forbusiness>
            </div>
        </div>
    </div>
</div>